.gradle/
.groovy/
.metadata/
.settings/
.classpath
.project
bin/
target/
classes/
LICENSE.txt
.springBeans
*~
~*
*.swp
*.swo
*.pyc
*.iml
*.eml
rebel.xml
.idea/
out/test/*
out/production/*
out/artifacts/*
resources-etermconf/
tags
.~lock.*
*.ipr
*.iws
checkstyle/
.pydevproject
bin-groovy
.DS_Store
ip
test-output
.cache
node_modules/
.jshintrc
*.o
.recommenders/
gradle-app.setting
**/gradlew*
**/gradle/*
.profiles/
**/soa-backup
**/out
.mqtt/**
**/.venv
**/.pytest_cache
**/dist
**/dist-ssr
**/python/**/build
**/python/**/*.egg-info
**/*.out
**/*.log
**/*.log.*
**/.yarn/cache
**/.yarn/install-state.gz
**/.yarn/sdks
**/.yarn/unplugged
**/.pnp.cjs
**/.pnp.loader.mjs
**/.xwin-cache
github/*
/output
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/CMakeFiles
**/install_manifest.txt
/internal/cad/cad
/internal/cad/cab
/internal/cad/libcae.dylib
**/airgap/*.tar
**/MicrosoftEdgeWebView2RuntimeInstallerX64.exe
**/Microsoft.WebView2.FixedVersionRuntime.117.0.2045.60.x64.cab
**/dataset.db
**/dataset.db.gz
**/vectors.json
**/vectors.json.gz
**/webview2
/libs/*
**/*.pth
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.docusaurus
